@layout('layouts/layout')

@section('content')


<main id="home-products">
  <div class="container container-large">
    <div class="row">
      @!each(product in products, include = 'partials/ProductWidget')
    </div>
  </div>
</main>
@endsection