@layout('layouts/layout')

@section('content')
<div class="jumbotron">
    <p class="lead">{{ msg }}</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Back To Main Site</a>
    </p>
  </div>
@endsection